<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>


  <div class="container-fluid sticky-top">
    <div class="container ">
      <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="#">BOUTIQUE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item ">
              <a class="nav-link " routerLink="/client/home">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/client/about">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/admin/gestprod">ADD PRODUCT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink=" ">CONTACT</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <div class="form-outline">
              <input type="search" id="form1" class="form-control" placeholder="Search" aria-label="Search" />
            </div>
          </form>
        </div>
      </nav>
    </div>
  </div>
  <h1 class="display-3 text-center"><span>MY FIRST NG MINI PROJECT</span></h1>
  <app-home-products></app-home-products>
</body>
<footer>
  <div class="container py-5 ">
    <div class="row py-3">
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4 wa">About</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a href="#" class="text-muted" class="w">Contact Us</a></li>
          <li class="mb-2"><a href="#" class="text-muted" class="w" routerLink="/client/about">About Us</a></li>
          <li class="mb-2"><a href="#" class="text-muted" class="w">Stories</a></li>
          <li class="mb-2"><a href="#" class="text-muted" class="w">Press</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4 wa">Help</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a href="#" class="text-muted" class="w">Payments</a></li>
          <li class="mb-2"><a href="#" class="text-muted" class="w">Shipping</a></li>
          <li class="mb-2"><a href="#" class="text-muted" class="w">Cancellation</a></li>
          <li class="mb-2"><a href="#" class="text-muted" class="w">Returns</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4 wa">Policy</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a href="#" class="text-muted" class="w">Return Policy</a></li>
          <li class="mb-2"><a href="#" class="text-muted" class="w">Terms Of Use</a></li>
          <li class="mb-2"><a href="#" class="text-muted" class="w">Security</a></li>
          <li class="mb-2"><a href="#" class="text-muted" class="w">Privacy</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4 wa">Company</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a href="#" class="text-muted" class="w">Login</a></li>
          <li class="mb-2"><a href="#" class="text-muted" class="w">Register</a></li>
          <li class="mb-2"><a href="#" class="text-muted" class="w">Sitemap</a></li>
          <li class="mb-2"><a href="#" class="text-muted" class="w">Our Products</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4 wa">Registered Office Address</h6>

        <div class="wrapper">
          <div class="icon facebook">
            <div class="tooltip">Facebook</div>
            <span><i class="fa fa-facebook-f"></i></span>
          </div>
          <div class="icon twitter">
            <div class="tooltip">Twitter</div>
            <span><i class="fa fa-twitter"></i></span>
          </div>
          <div class="icon instagram">
            <div class="tooltip">Instagram</div>
            <span><i class="fa fa-instagram"></i></span>
          </div>
          <div class="icon github">
            <div class="tooltip">Github</div>
            <span><i class="fa fa-github"></i></span>
          </div>
          <div class="icon youtube">
            <div class="tooltip">Youtube</div>
            <span><i class="fa fa-youtube"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>


</footer>